body {
  font-family: non-serif, arial;
  background: url("file:///Volumes/workspaces/Felix/Website/images/background.jpg");
}
h1 {
  font-size: 18px;
  color: blue;
  text-align: center;
}
iframe{
    text-align: center;
}
